@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Russo One", sans-serif;
}
// Variables
$primaryColor: #ff5b00;
$backGray: #8d8d8d;
$frontGray: #b3b3b3;
$keyColor: #00a4ff;
.App {
  width: 100vw;
  min-height: 100vh;
  background-color: $backGray;
  display: grid;
  place-items: center;
}
.inner_container {
  min-width: 50vw;
  padding: 30px;
  background-color: $frontGray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 5px solid $primaryColor;
}

// Toggle Switch Style Setting (Power & Bank)
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  input:checked + .slider {
    background-color: $primaryColor;
  }
}
.slider {
  position: absolute;
  background-color: $backGray;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.4s;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 26px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
  }
}
.slider_bank {
  background-color: $primaryColor;
}
input[type="range"] {
  appearance: none;
  width: 100%;
  height: 10px;
  background-color: $primaryColor;
  border: 1px solid $backGray;
  outline: none;
  cursor: pointer;
  &::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 30px;
    background-color: white;
    border: 1px solid $primaryColor;
  }
}
// Drum Controller
.drum_controller {
  text-align: center;
  label,
  .display,
  .audio_volume {
    margin-bottom: 20px;
  }
}
.display {
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $backGray;
}
.drum_pad_container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.drum-pad {
  width: 100px;
  height: 80px;
  margin: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgb(59, 59, 59);
  user-select: none;
  border-radius: 3px;
}
.footer {
  margin-top: 20px;
  text-align: center;
}
// Responsive Design
@media only screen and (max-width: 770px) {
  .drum_pad_container {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .inner_container {
    flex-direction: column-reverse;
    margin: 10px;
    padding: 10px;
  }
  .drum-pad {
    width: 60px;
    height: 45px;
  }
  .drum_pad_container {
    margin: 0px auto;
    margin-top: 20px;
  }
}
